<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Waiter Availability</h1>
    <form action="waiters">
    <div class="Main">
        <label for="sizeLarge">Username</label>
        <input type="text" placeholder="" id="fname" name="fname">
        <label for="fname"></label>
       <a><input type="submit" class="log" name="button" id="sizeLarge" value="Login"/></a>
    </div>
    </form>
</body>
</html>