<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>

<body>
    <div class="head">
        <div class="div_icon">
            <img src="https://github.com/Wiseman930/expenses-app/blob/master/Images/logo1.png?raw=true" alt="no image" class="center2">
         </div>
    </div>
    <form action="/login" method="POST">
    <div class="errorMessages">
        {{#if messages.errors}}
        <span>{{messages.errors}}</span>
        {{/if}}
    </div>
    <div class="Main">
        <div class="registration"><h3>Login</h3></div>
        <div class="TxtBx">
            <label for="Amount">Enter login code</label>
            <input type="text" id="fcode" name="codeNumber" value="" placeholder="enter login code"
        </div>
        <div class="">
            <button class="log" type="submit" id="" name="button">Login</button>
        </div>
    </div>
    </form>
</body>

</html>