<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>

<body>

    <h1>Expenses App</h1>
    <form action="/login" method="POST">
        <div class="TxtBx">
            <label class="RG" for="fReg"></label>
            <input type="text" id="fcode" name="codeNumber" value="" placeholder="enter login code"
        </div>
        <div class="Add">
            <button class="button-primary AddButtn" type="submit" id="logbutton" name="button">Login</button>
        </div>
    </form>
    <div class="errorMessages">
        {{#if messages.errors}}
        <span>{{messages.errors}}</span>
        {{/if}}
    </div>

</body>

</html>