<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="head">
        <div class="div_icon">
            <img src="https://github.com/Wiseman930/expenses-app/blob/master/Images/logo1.png?raw=true" alt="no image" class="center2">
         </div>
    </div>
    <form action="waiter" method="post">
        <div class="codeMessages">
            {{#if messages.code}}
            <span>{{messages.code}}</span>
            {{/if}}
        </div>
        <div class="errorMessages">
            {{#if messages.errors}}
            <span>{{messages.errors}}</span>
            {{/if}}
        </div>
        <div class="Main">
           <div class="registration"><h3>Registration</h3></div>
            <table>
                <tr>
                    <td> <label for="fname">First name</label></td>
                    <td><input type="text" placeholder="" id="fname" name="fname"></td>
                </tr>
                <tr>
                    <td><label for="lname">Last name</label></td>
                    <td><input type="text" placeholder="" id="lname" name="lname"></td>
                </tr>
                <tr>
                    <td><label for="Email">Email</label></td>
                    <td><input type="text" placeholder="" id="Email" name="Email"></td>
                </tr>
            </table>
            <input type="submit" class="log" name="fontSizeControl" id="sizeLarge" value="Register" />
            <form action="/login">
           <a href="/login"><input type="button" class="log" name="fontSizeControl" id="sizeLarge" value="Login" /></a>
           </form>
        </div>
    </form>
</body>

</html>