body{
    margin: 0%;
    background-color: #ffffff;
    font-family: 'DM Sans', sans-serif;
}

h1{
    text-align: center;
    color: #0b090a;
    margin: auto;
    padding: 15px;
}

.Main{
    text-align: center;
    font-size: x-large;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d9d9d9;
    color: #0b090a;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px #0b090a;
}
.head{
  background-color: #d9d9d9;
  text-align: center;
  margin: 0px;
  color: antiquewhite;
  display: flex;
  box-shadow: 0 3px 10px #0b090a;

}
table, th, td {
  margin: auto;
  text-align: left;
}
.log{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    color: aquamarine;
    background-color: #27187e;
    border-color: #27187e;
    color: antiquewhite;
    border-radius: 8px;
    box-shadow: 10px 10px 10px #0b090a;
    width: 180px;
}
.registration{
  background-color: #27187e;
  color: antiquewhite;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  margin-bottom: 10px;
  border-radius: 8px;
}
.div_icon{
  margin: auto;
  display: block;
}
.center2
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  padding-bottom: 20px;
  margin-top: 20px;
}
input[type=text]{
  border-radius: 8px;
}
#fname{
    height: 25px;
    margin: 10px;
}
#lname{
  height: 25px;
  margin: 10px;
}
#Email{
  height: 25px;
  margin: 10px;
}
#banks{
  margin-left: 10px;
}
.weekDays-selector{
    padding-top: 80px;
    text-align: center;
}
.weekDays-selector input {
    display: none!important;

  }

  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 70px;
    padding: 15px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }

  .weekDays-selector input[type=checkbox]:checked + label {
    background: #0b090a;
    color: #ffffff;
  }
  h2{
    text-align: center;
  }
  .errorMessages{
    text-align: center;
    color: #a4161a;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 700;
    animation: hideAnimation 0s ease-in 4s;
    animation-fill-mode: forwards;
  }
  .codeMessages{
    text-align: center;
    color: green;
    font-size:20px;
    margin-top: 30px;
    font-weight: 700;
    animation: hideAnimation 0s ease-in 15s;
    animation-fill-mode: forwards;
  }
  .TxtBx{
    padding-top: 100px;
    text-align: center;
  }
  #fcode{
    height: 35px;
    width: 250px;
    margin: 10px;
  }

  .Add{
    text-align: center;

  }
  #logbutton{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    color: aquamarine;
    background-color: #a4161a;
    border-color: #d90429;
    color: antiquewhite;
  }
  .expenses{
    margin-top: 10px;
  }
  #banks{
    height: 25px;
    text-align: center;
  }
  .town{
    text-align: center;
  }
  .wp-table{
    padding: 10px;
    margin-top: 60px;
  }
  .wp-table2{
    padding: 10px;
    border: 1px solid black;
  border-collapse: collapse;
  }
  th{
    padding: 10px;
  }
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }